<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
  <stringAttribute value="D:\Projects\ATimeMod2\run" key="org.eclipse.jdt.launching.WORKING_DIRECTORY"/>
  <stringAttribute value="net.minecraftforge.userdev.UserdevLauncher" key="org.eclipse.jdt.launching.MAIN_TYPE"/>
  <stringAttribute value="ATimeMod2" key="org.eclipse.jdt.launching.PROJECT_ATTR"/>
  <mapAttribute key="org.eclipse.debug.core.environmentVariables">
    <mapEntry value="C:\Users\Kos\.gradle\caches\forge_gradle\assets" key="assetDirectory"/>
    <mapEntry value="D:\Projects\ATimeMod2\build\resources\main;D:\Projects\ATimeMod2\build\classes\java\main" key="MOD_CLASSES"/>
    <mapEntry value="snapshot_20180921-1.13" key="MCP_MAPPINGS"/>
    <mapEntry value="20190213.203750" key="MCP_VERSION"/>
    <mapEntry value="25.0.26" key="FORGE_VERSION"/>
    <mapEntry value="net.minecraftforge" key="FORGE_GROUP"/>
    <mapEntry value="fmluserdevserver" key="target"/>
    <mapEntry value="1.13.2" key="MC_VERSION"/>
  </mapAttribute>
  <stringAttribute value="-Dforge.logging.console.level=debug&#10;-Dforge.logging.markers=SCAN,REGISTRIES,REGISTRYDUMP" key="org.eclipse.jdt.launching.VM_ARGUMENTS"/>
</launchConfiguration>
